*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
  font-family: sans-serif;
}
h2{
  font-size: 6rem;
  color: #333;
  font-weight: 300;
}
h2 span{
  animation: animate 1s infinite linear;
}
h2 span :nth-child(1){
  animation-delay: 0s;
}
h2 span :nth-child(2){
  animation-delay: 0.2s;
}
h2 span :nth-child(3){
  animation-delay: 0.4s;
}
@keyframes animate{
  0%,
  80%{
    color: #333;
    text-shadow: none;
  }
  100%{
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 160px #fff;
  }
}
